  <div class="container justify-content-center">
      <div class="row">
          <div class="card-container justify-content-center" style="padding: 25px;">
              <h3 class="card-container-title text-center">Learn More</h3><br>
              <div class="row">
                  <div class="card-deck">
                      <div class="card col-md-4">
                          <div>
                              <center><img class="card-img-top card-img-1 justify-content-center"
                                      src="static/coop_members.jpg">
                              </center>
                          </div>
                          <div class="card-body">
                              <h4 class="card-title"><a href="#">Meet the crew!</a></h4>
                              <p class="card-text text-center">
                                  Meet the people behind Co.Operate!
                              </p>
                          </div>
                      </div>
                      <div class="card col-md-4">
                          <center><img class="card-img-top card-img-2" src="static/Food-Coop-Infographic-V2.png"
                                  alt="Card image cap"></center>
                            <br><br><br><br><br><br><br>
                          <div class="card-body">
                              <h4 class="card-title"><a href="#">How to fund your co-op.</a></h4>
                              <p class="card-text text-center">
                                  Learn how to fund your co-op!
                              </p>
                          </div>
                      </div>
                      <div class="card col-md-4">
                          <center><img class="card-img-top card-img-3" src="static/IMG_3896-web.jpg"
                                  alt="Card image cap">
                          </center>
                          <div class="card-body">
                              <h4 class="card-title"><a href="#">Resources for your co-op.</a></h4>
                              <p class="card-text text-center">
                                  Check out some mock legal forms of the ones that you need to start your own coop!
                              </p>
                          </div>
                      </div>
                  </div>
              </div><br>
              <div class="row">
                  <div class="card-deck">
                      <div class="card col-md-4">
                          <center><img class="card-img-top card-img-4"
                                  src="static/dc7ad9a46731a24417924a46e91812c7_original.jpg" alt="Card image cap">
                          </center>
                          <div class="card-body">
                              <h4 class="card-title"><a href="#">Featured Co-Op: The Second Kitchen</a></h4>
                              <p class="card-text text-center">
                                  The generosity of our supporters continues to humble us
                              </p>
                          </div>
                      </div>
                      <div class="card col-md-4">
                          <center><img class="card-img-top card-img-5" src="static/why_coop.jpg" alt="Card image cap">
                          </center>
                          <div class="card-body">
                              <h4 class="card-title"><a href="#">Reasons to choose a coop for your groceries.</a>
                              </h4>
                              <p class="card-text text-center">
                                  Find out just how beneficial a cooperative is to your local economy.
                              </p>
                          </div>
                      </div>
                      <div class="card col-md-4">
                          <center><img class="card-img-top card-img-6" src="static/Coop1W.jpg" alt="Card image cap">
                          </center>
                          <div class="card-body">
                              <h4 class="card-title"><a href="#">'Tis the season!</a></h4>
                              <p class="card-text text-center">
                                  Find out what produce is in season in your area!
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>