<div class="container-fluid">
   <center><div>
        <h1><strong>Co.Op</strong>erate</h1>
    </div>
    <ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" role='tab' href="#">Active</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" role='tab' href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" role='tab' href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" role='tab' href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
    </ul>
</div></center> 