{% extends 'base.html' %}

{% block content %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" id="carousel_img">
            <img class="d-block w-100" src="static/cooperative.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h3>Collaborate in community.</h3>
                <h5>There are not many examples of true collective action in our mainstream culture today, but our future is dependant upon us working together. Inded our power as humans lies in our ability to collaborate!</h5>
                <a role="button" class="btn subscribe-btn btn-success btn-lg my-2 my-sm-0" href="/register">Register</a>
            </div>
        </div>
        <div class="carousel-item" id="carousel_img">
            <img class="d-block w-100" src="static/workshop.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
                <h3>Owned and Operated by YOU.</h3>
                <h5>Participate in a nonhierarchical work space based upon respect, mutuality and cooperation.</h5>
                <a role="button" class="btn subscribe-btn btn-success btn-lg my-2 my-sm-0" href="/resources">Resources</a>
            </div>
        </div>
        <div class="carousel-item" id="carousel_img">
            <img class="d-block w-100" src="static/eggs_cropped.jpg" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                <h3>Affordable and accesible farm-fresh produce and high-quality products.</h3>
                <h5>Source your products from local organic farmers, collectives, bakers, dairies and other local businesses.</h5>
                <a role="button" class="btn subscribe-btn btn-success btn-lg my-2 my-sm-0" href="/resources">Find Local Co-Ops</a>
            </div>
        </div>
    </div>
</div>
{% include 'partials/cards.html' %}
{% endblock %}