{% extends 'base.html' %}
{% block content %}

<div class="container">
    <center>
        <h1>Register your Co-Op</h1>
    </center>
    <div class="row donation-img justify-content-center">
        <img class="registration-img" src="static/17751270_web1_M-foodcoopfilm-ISJ-190724.jpg">
    </div>
    <form>
        <form>
            <label for="exampleInputFirstName1">What's your name?</label>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="First name">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Last name">
                </div>
            </div>
        </form><br>
        <form>
            <label for="exampleInputFirstName1">What's the name of your co-op?</label>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Co-Op Name">
                </div>
            </div>
        </form><br>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                else.</small>
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="Username" class="form-control" id="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            <small id="passwordHelp" class="form-text text-muted">Must contain an uppercase letter, a number, a
                haiku, a gang sign, a hieroglyph and your debit card pin.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputBloodType1">What's your location?</label>
            <input type="BloodType" class="form-control" id="exampleInputBloodType1" placeholder="Street Address">
            <input type="BloodType" class="form-control" id="exampleInputBloodType1" placeholder="Zip Code">
            <input type="BloodType" class="form-control" id="exampleInputBloodType1" placeholder="State">
            <input type="BloodType" class="form-control" id="exampleInputBloodType1" placeholder="Country">
        </div>
        <div class="form-group">
            <label for="exampleInputTravel1">What year was the co-op founded?</label>
            <input type="Travel" class="form-control" id="exampleInputTravel1" placeholder="Year">
        </div>
        <div class="form-group">
            <label for="exampleInputGarlic1">Please include a short description of your co-op.</label>
            <input type="humanBlood" class="form-control" id="exampleInputHuman" placeholder="Description">
        </div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#subscriptionModal">
            Submit form
        </button>

        <!-- Modal -->
        <div class="modal fade" id="subscriptionModal" tabindex="-1" role="dialog"
            aria-labelledby="subscriptionModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="subscriptionModalLabel">Benefits of Paid Subscription</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        If you are interested in our paid membership package that includes exclusive content, please
                        check out our subscription options.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Subscription Options</button>
                        <button type="button" class="btn btn-primary">Continue with submission</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


{% endblock %}