{% extends 'base.html' %}

{% block content %}
<div class='container'>
    <div class="row">
        <h1>About Co-Ops</h1>
        <hr>
        <p>Cooperatives are worker owned and operated businesses that can help stimulate local economies and support people by granting more affordable access to higher quality goods and services.</p>
        <img class="infographic" src="static/Coop_Infographic.jpg">
    </div>
    <div class="row">
            <div class="container justify-content-center">
                    <div class="row">
                        <div class="card-container justify-content-center" style="padding: 25px;">
                            <h3 class="card-container-title text-center">Our Community Partners</h3><br>
                            <div class="row">
                                <div class="card-deck">
                                    <div class="card card-resources col-md-4">
                                        <div>
                                            <center><img class="card-img-top img-responsive card-img-resources justify-content-center"
                                                    src="static/USDAorganic.png">
                                            </center>
                                        </div>
                                        <div class="card-body">
                                            <!-- <h4 class="card-title"><a href="#">Meet the crew!</a></h4> -->
                                            <p class="card-text text-center">
                                                    U.S. Department of Agriculture’s Organic program that provides leadership based on sound public policy, the best available science, and efficient management.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card card-resources col-md-4">
                                        <center><img class="card-img-top img-responsive card-img-resources" src="static/nongmo.png"
                                                alt="Card image cap"></center>
                                        <div class="card-body">
                                            <!-- <h4 class="card-title"><a href="#">How to fund your co-op.</a></h4> -->
                                            <p class="card-text text-center">
                                                    What started as a retailer-driven campaign to offer consumers an informed choice about genetically modified organisms (GMOs) has blossomed into a successful industry-wide initiative.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card card-resources col-md-4">
                                        <center><img class="card-img-top img-responsive card-img-resources" src="static/Cetnerfoodsafety.png"
                                                alt="Card image cap">
                                        </center>
                                        <div class="card-body">
                                            <!-- <h4 class="card-title"><a href="#">Resources for your co-op.</a></h4> -->
                                            <p class="card-text text-center">
                                                    National non-profit public interest and environmental advocacy organization working to protect human health and the environment by curbing the use of harmful food production technologies and by promoting organic and other forms of sustainable agriculture.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="card-deck">
                                    <!-- <div class="col"> -->
                                    <div class="card card-resources col-md-4">
                                        <center><img class="card-img-top img-responsive card-img-resources"
                                                src="static/sustainablefx.png" alt="Card image cap">
                                        </center>
                                        <div class="card-body">
                                            <!-- <h4 class="card-title"><a href="#">Featured Co-Op: The Second Kitchen</a></h4> -->
                                            <p class="card-text text-center">
                                                    One of the first groups in Marin to pioneer sustainability, with a legacy of educating the town council, supporting the community, providing services to the town, and conducting educational events since 1999.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card card-resources col-md-4">
                                        <center><img class="card-img-top img-responsive card-img-resources" src="static/organiccenter.png" alt="Card image cap">
                                        </center>
                                        <div class="card-body">
                                            <!-- <h4 class="card-title"><a href="#">Reasons to choose a coop for your groceries.</a>
                                            </h4> -->
                                            <p class="card-text text-center">
                                                    Established in 2002 and based in Washington DC, The Organic Center is a nonprofit organization that is a trusted source of information for scientific research about organic food and farming.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card card-resources col-md-4">
                                        <center><img class="card-img-top img-responsive card-img-resources" src="static/CAFF.png" alt="Card image cap">
                                        </center>
                                        <div class="card-body">
                                            <!-- <h4 class="card-title"><a href="#">'Tis the season!</a></h4> -->
                                            <p class="card-text text-center">
                                                    Building a movement of rural and urban people to foster family-scale agriculture that cares for the land, sustains local economies and promotes social justice.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>



{% endblock %} 